---
const pageTitle = "About Me";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/astro-tutorial/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href='/astro-tutorial/'>Home</a>
        <a href='/astro-tutorial/about/'>About</a>
        <a href='/astro-tutorial/blog/'>Blog</a>

		<h1>{pageTitle}</h1>
        <h2>...and my sweet new site :)</h2>

        <p>I'm working through the introductory Astro tutorial, and it wants me to make an about page.</p>

        <p>This site will update as I complete more of the tutorial, so keep checking back in to see how my journey is going!</p>
	</body>
</html>
